fastapi==0.95.1
environs==9.5.0
uvicorn==0.22.0
pydantic==1.10.7
psycopg2==2.9.6
SQLAlchemy==2.0.12
asyncpg==0.27.0
httpx==0.24.0
pytest==7.3.1
alembic==1.11.1
celery==5.3.1
fastapi-pagination==0.12.6
fastapi-cache2[redis]
fastapi-users[sqlalchemy]
flower
pytest-asyncio
aiohttp
fastapi-gateway